#clients-main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#clients-pagination-filter {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  font-size: larger;
  width: 90%;
  justify-content: center;
}

#clients-pagination-filter select {
  font-size: large;
}

#clients-container {
  display: flex;
  flex-flow: row wrap;
  text-align: initial;
  width: 100%;
  margin-top: 6%;
  justify-content: space-around;
}

.client-section {
  display: flex;
  flex-flow: column wrap;
  width: 430px;
  min-width: 325px;
  align-items: center;
  margin-bottom: 7%;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
  box-sizing: border-box;
}

.client-info {
  width: 100%;
  margin-left: 5px;
  font-size: larger;
}

#clients-buttons {
  margin: 5% 3%;
}

.client-buttons {
  display: flex;
  margin-bottom: 3%;
  align-items: center;
  width: 45%;
  justify-content: space-between;
}
