#clients-main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#clients-pagination-filter {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  font-size: larger;
  width: 90%;
  justify-content: center;
  margin-top: 30px;
}

#clients-pagination-filter select {
  font-size: large;
}

#clients-container {
  display: flex;
  flex-flow: row wrap;
  text-align: initial;
  width: 100%;
  margin-top: 3%;
  justify-content: space-around;
}

.client-section {
  display: flex;
  flex-flow: column wrap;
  width: 430px;
  min-width: 325px;
  align-items: center;
  margin-bottom: 7%;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
  box-sizing: border-box;
}

.client-info {
  width: 100%;
  margin-left: 5px;
  font-size: larger;
}

#clients-buttons {
  display: flex;
  margin-bottom: 15px;
  min-width: 280px;
  width: 50%;
  justify-content: space-evenly;
}

.client-buttons {
  display: flex;
  margin-bottom: 3%;
  align-items: center;
  width: 45%;
  justify-content: space-between;
}

#clients-modal-create {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#clients-modal-create-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  margin-top: 10%;
  margin-left: 25%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 1px solid #000000;
  width: 45%;
}

#clients-modal-create-content div {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#clients-modal-create-content div p {
  min-width: 71px;
}

#clients-modal-create-content div input {
  width: 400px;
}

#clients-modal-create-content-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around !important;
}

#clients-modal-update {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#clients-modal-update-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  margin-top: 10%;
  margin-left: 25%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 1px solid #000000;
  width: 45%;
}

#clients-modal-update-content div {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#clients-modal-update-content div p {
  min-width: 71px;
}

#clients-modal-update-content div input {
  width: 400px;
}

#clients-modal-update-content-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around !important;
}

@media only screen and (max-width: 876px) {
  #clients-modal-create-content div input {
    min-width: 100px;
  }

  #clients-modal-update-content div input {
    min-width: 100px;
  }
}
