#form-main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

.form-section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
  justify-content: center;
  margin-top: 40px;
}

form {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-size: large;
  width: 100%;
  align-items: center;
}

label {
  font-size: larger;
}

input, button {
  font-size: large;
}

.rememberMe-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  width: 90%;
}

@media only screen and (max-width: 620px) {
  .form-section {
    width: 100%;
    flex-flow: column nowrap;
  }

  input {
    width: 90%;
  }

  label {
    margin-bottom: 10px;
  }

  .rememberMe-section input {
    width: 3%;
  }
}
