#users-main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}

#users-pagination-filter {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  font-size: larger;
  width: 90%;
  justify-content: center;
  margin-left: 8%;
}

#users-pagination-filter-pagination {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 20%;
  min-width: 230px;
  justify-content: space-evenly;
}

#users-pagination-filter-filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 70%;
  min-width: 500px;
  justify-content: center;
  margin-left: 10px;
}

#users-pagination-filter-filter select {
  margin-right: 10px;
  margin-left: 10px;
}

#users-pagination-filter div select {
  font-size: large;
}

#users-container {
  display: flex;
  flex-flow: row wrap;
  text-align: initial;
  width: 100%;
  margin-top: 6%;
  justify-content: space-around;
}

.user-section {
  display: flex;
  flex-flow: column wrap;
  width: 430px;
  min-width: 325px;
  align-items: center;
  margin-bottom: 7%;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
  box-sizing: border-box;
  padding-top: 15px;
}

.user-section img {
  width: max-content;
  border-radius: 15px;
}

.user-info {
  width: 100%;
  margin-left: 10px;
  font-size: larger;
}

#users-buttons {
  margin: 5% 3%;
}

@media only screen and (max-width: 876px) {
  #users-pagination-filter {
    margin-left: -10px;
  }

  #users-pagination-filter-pagination, #users-pagination-filter-filter {
    width: 100%;
    justify-content: center;
  }
  
  #users-pagination-filter-filter {
    width: 100%;
    flex-flow: row wrap;
  }

  #users-pagination-filter-filter input {
    width: 107px;
  }
}
