.contain-crud {
    background: url(../../../Assets/bghome.gif);
    background-attachment: fixed;
	background-position: center center;
    min-width: 98vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
}
